li a {

color: blue

}


li a {


color: blue


}



li a{


color: aqua


}

header {

background-color: black

}

nav{

background-color: black;
margin:0px;
padding:0px;

}

body{
    margin:0px;
background-color: aquamarine

}

p {

    color: black
}

li  {

color:black
 
}

h1 { 

    color: aquamarine
    
  
}

.navbarItem {
    
    display: inline;
    margin: 10%
    
}
